.toolBar {
	background-color: #5BAE70;
}


.drawerList {
	display: flex;
	flex-direction: column;
	height: 80%;
	overflow: auto;
	background-color: #E3E3E3;
}


.listItemButton {
	background-color: #000 !important;
}

.listItemButton:hover {
	background-color: #7B7A78;
}


.listItemTextCenter {
	text-align: center;
	color: #FFF;
	margin: 0 1px 0;
}


.profile {
	margin-top: auto;
	background-color: #E3E3E3;
}


/*.chatArea {
	padding: 16px;
    margin-left: 240px;
    margin-top: 64px;
}*/


.chatInput {
	margin-top: 370px;
	padding: 16px;
	margin-left: 240px;
	display: flex;
	align-items: center;
}


.inputField {
	margin-right: 8px;
}


.siteSelectArea {
	width: 160px;
}


.sendButton {
	color: #FFF !important;
	background-color: #007F73 !important;
}

.sendButton:hover {
	background-color: #00695c !important;
}

.divider {
	background-color: #000 !important;
	height: 1px !important;
	margin: 8px 0 !important;
}

.bottomChatInput {
	position: absolute;
	bottom: 50px;
	width: 100%;
  }