.MainView {
	background-color: #FFF;
}

.appBar {
	position: fixed;
	width: calc( 100% - 190px );
	background-color: #5BAE70;
}

.drawer {
	width: 240px;
	background-color: #E3E3E3
}

.content {
	margin-top: 64px;
	padding: 16px;
	margin-left: 240px;
}

.chatInput {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.inputField {
	margin-right: 8px;
}

.divider {
	background-color: #000;
	height: 1px;
	margin: 8px 0;
}

.listItemTextCenter {
	text-align: center;
	color: #FFF;
	margin: 0 1px 0;
}


.listItemButton {
	background-color: #000;
}

.listItemButton:hover {
	background-color: #7B7A78;
}


.profile {
	margin-top: auto;
}


.sendButton {
	color: #FFF;
	background-color: #007F73;
}

.sendButton:hover {
	background-color: #00695c;
}