.drawerList {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.listItemButton {
  background-color: #007f73 !important;
}

.listItemButton:hover {
  background-color: #7b7a78;
}

.listItemTextCenter {
  text-align: center;
  color: white;
  margin: 0 1px 0;
}

.profile {
  margin-top: auto;
  background-color: #e3e3e3;
}

.divider {
  background-color: #e3e3e3 !important;
  height: 0.1px !important;
  margin: 8px 0 !important;
}
